  
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<div class="container-fluid" class="jumbotron">
	<div class="row">
		<div class="col-sm-4">
		    
		    <form method="post">
			  {% csrf_token %}
			  <div class="form-group pass_show"> 
			 {{ form | crispy}} 
			</div>
		 	 <button type="submit" class="btn btn-info">Save changes</button>
            </form>
		</div>  
	</div>
</div>
			
</form> 
</body>
</html>


