<!DOCTYPE html>	
<html>
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
	{% load crispy_forms_tags %}<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
</head>
<body>
	<div class="content-section" class="container-fluid">
	{% block content %}
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group-fluid">
			<legend class="border-bottom mb-4">Reset Password</legend>
			{{ form | crispy }}
		</fieldset>
		<div class="form-group"></div>
		<button type="submit" class="btn-btn danger">Reset Pass</button>

	</form>
	
	{% endblock content %}
</div>




</body>

</html>

