<!DOCTYPE html>	
<html>
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
	{% load crispy_forms_tags %}<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
</head>
<body>
	<div class="content-section" class="container-fluid">
	{% block content %}
	<form method="POST">
		<div class="container"></div>
		<form method="post">
			{% csrf_token %}
		    <div class="form-control">
		     {{ form | crispy }}
		      
		    <button type="submit" class="btn btn-info">Submit</button>
		  </form>
		</div>
	</form></div>
	
	{% endblock content %}
</div>


<div class="container">
  
  



</body>

</html>
