
<!DOCTYPE html>
<html>
<head>
	<title>Agile Policies</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style=" background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);font-family: italic;font-weight: bold">
	<p>


<div class="container">
<h1>Policies and Agreements</h1><br/><br/>
Customers trust that they can always buy with confidence on Agile.in. The products you offer for sale on Agile.in must comply with your seller agreement, including all applicable Agile policies, and all applicable laws and regulations. Before listing products on Agile.in, please ensure that you understand what is and is not allowed. To view your seller agreement and a more extensive list of related policies<br/><br/>

What is allowed?<br/><br/>
Here are some of the key requirements for selling on Agile: <br/><br/>
Performance Guidelines<br/><br/>
Selling Policies<br/><br/>
What is not allowed?<br/><br/>
To sell on Agile, you may not engage in any of the activities described in our policy on Prohibited Seller Activities and Actions. You also may not list products that: 
Violate our Restricted Products Policy<br/><br/>
Are unsafe<br/><br/>
Are available only by prescription<br/><br/>
Violate a third party’s intellectual property rights or our Anti-Counterfeiting Policy
Violate any other Agile policies, including those described under the following:
Offensive and Controversial Products<br/><br/>
Recalled Products<br/><br/>
What requires pre-approval?<br/><br/>
Some categories, brands, and products require Agile’s pre-approval before you can list them. To learn more, please review our categories and products requiring approval. 
What happens if I violate a policy?<br/><br/>
Maintaining a trusted marketplace for buyers and sellers is our top priority. We are constantly innovating on behalf of our customers to improve the services we offer and the ways we monitor our marketplace. When we identify a violation of our policies, we take appropriate action, which may include suspending or terminating Agile privileges.<br/><br/> 
How do I report a violation?<br/><br/>
We encourage sellers and other third parties to report activity that appears to be violating Agile’s rules and policies. <br/><br/>

If you are an intellectual property rights owner or their agent and want to notify Agile of alleged intellectual property infringement, such as copyright and trademark concerns, please use this form here or email <b>agilelibrary@gmail.com</b>.
Seller Agreement and Related Policies<br/><br/>
Make sure to read and understand all applicable Agile agreements and policies for the marketplaces in which you sell, as marketplaces may have unique policies and agreements. Following are the selling agreement and a number of additional related policies for selling on Agile.in. <br/><br/>

Policies and Agreements<br/><br/>

Agile Services Business Solutions Agreement<br/><br/>
Business Solutions Agreement for International Sellers<br/><br/>
Selling on Agile Fee Schedule<br/><br/>
Agile Intellectual Property Policy<br/><br/>
Intellectual property for Rights Owner<br/><br/>
Selling Policies and Seller Code of Conduct<br/><br/>
Recalls & Product Safety<br/><br/>
Restricted Products<br/><br/>
Product Guidelines<br/><br/>
Keeping Your Account Information Secure<br/><br/>
AgileNow Seller Program - Terms & Conditions<br/><br/>
Agile Brand Analytics Terms and Conditions<br/><br/>
</div>
</p>

</body>
</html>